<div class="flex min-h-screen w-full bg-zinc-900 flex-col">
  <header>
    <nav class="  border-b flex items-center justify-center ">
      <div class="max-w-4xl p-2 flex space-y-2 xl:space-y-0 xl:flex-row flex-col justify-between  w-full text-white">
        <span class="text-center ">
          Github User Search
        </span>
        <div class="relative w-fit mx-auto mb-2 xl:mb-0 xl:mx-0">
          <input [(ngModel)]="InputValue" #input_search class="p-1 px-2 pr-10 w-80 bg-zinc-800 rounded-sm">
          <button (click)="OnClickFn()" class="ml-2 p-1 absolute right-2 top-1/2 -translate-y-1/2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                 viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
          </button>
        </div>
      </div>
    </nav>
  </header>


  <main *ngIf="UserData!=null" class="flex-grow ">
    <div class=" max-w-2xl h-40 mt-4 animate-pulse flex text-white justify-center items-center mx-auto bg-zinc-800"
         *ngIf="UserData.isLoading">
      Loading...
    </div>
    <div *ngIf="UserData.isError">
      <div
        class=" max-w-2xl text-center mt-4 text-white flex justify-center items-center h-40 mx-auto bg-zinc-800 text-white">
        <p class="text-white">{{ UserData.error.message }}</p>
      </div>
    </div>
    <div *ngIf="UserData.isSuccess">
      <div class="max-w-2xl  mt-2 p-2.5 rounded-md mx-auto bg-zinc-800 text-white">
        <div class="  mb-6 flex items-center justify-between">
          <div class="flex items-center space-x-4">
            <img [src]="UserData.data.avatar_url" class="w-20 h-20 rounded-full border-white border"
                 alt="{{UserData.data.name}}">
            <div>
              <h1 class="text-2xl font-bold">{{ UserData.data.name }}</h1>
              <p class="text-gray-500">{{ UserData.data.login }}</p>
            </div>
          </div>
          <div>
            <span class="sr-only"> Open Github Profile </span>
            <a href="{{UserData.data.html_url}}" target="_blank" class="p-1 rounded-sm bg-zinc-700">
              OPEN PROFILE
            </a>
          </div>
        </div>
        <section class="grid grid-cols-2  gap-2">
          <div class="mt-4">
            <h2 class="text-xl font-bold">Bio</h2>
            <p>{{ UserData.data.bio }}</p>
          </div>
          <div class="mt-4">
            <h2 class="text-xl font-bold">Location</h2>
            <p>{{ UserData.data.location }}</p>
          </div>
          <div class="mt-4">
            <h2 class="text-xl font-bold">Followers</h2>
            <p>{{ UserData.data.followers }}</p>
          </div>
          <div class="mt-4">
            <h2 class="text-xl font-bold">Following</h2>
            <p>{{ UserData.data.following }}</p>
          </div>
        </section>
      </div>
      <app-repository *ngIf="UserData.data?.login" [githubUsername]="UserData.data.login"></app-repository>
    </div>
  </main>
</div>
